body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #333;
}
* {
    color:whitesmoke;
}
.welcome {
    margin: 2em 0;
}
ul {
    padding: 0;
    list-style-type: none;
}
nav {
    margin: 2em 0;
}
nav a {
    margin: 0 1em;
    text-decoration: none;
}
nav a:hover {
    color: #0066cc;
}